fastapi
uvicorn[standard]
httpx
pydantic
python-dotenv
sqlalchemy
psycopg2-binary
alembic
prometheus-fastapi-instrumentator
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-jose[cryptography]
python-multipart
jinja2
cryptography